@media (max-width: 500px){
    header nav{
        width: 50px;
    }
    header #menuMovil{
        display: block;
    }
    header #menuWeb{
        display:none;
    }
    #inicio #encima h2 {
        font-size: 3rem;
    }
    #descripcion .columna {
        float: left;
        width: 100%;
        text-align: justify;
    }
    #personajes .marco{
        width: 100%;
    }
    #personajes h3{
        width: 100%;
    }
    #personajes img{
        width: 151px;
        height: 194px;
        border-radius: 40px 40px 0 0;
        cursor: pointer;
    }
    #separador{
        width: 100%;
        height: 110px;
    }
    
    #trailer {
        width: 84%;
    }
    #trailer h2{
        padding-top: 30px;
        margin-top: 10px;
    }
    .video {
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
        }
        .video iframe{

            height: 200px;
            width: 200px;
            }

}
